<!doctype html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Attendance Section</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<section class="ftco-section">
	<div class="row justify-content-center">
		<div class="col-md-6 text-center mb-5">
			<h2 class="heading-section">Welcome to Nahne Munhe Play Center - Attendance Section</h2>
			<h4 th:text="'Date : '+${todayDate}"></h4>
		</div>
	</div>
	<div class="container">
			<th:block th:if="${isNotDoneAttendance}">
				<form action="#" th:action="@{/dashboard/fill-info}" method="post">
					<div class="row">
						<div class="col-md-12">
							<div class="table-wrap">
								<div class="row justify-content-center">
									<div class="col-md-6 text-center mb-5">
										<h2 class="heading-section">Attendance - Student List</h2>
									</div>
								</div>
							<table class="table table-responsive-xl">
								<thead>
								<tr>
									<th>&nbsp;</th>
									<th>Email</th>
									<th>Name</th>
									<th>Status</th>
								</tr>
								</thead>
								<tbody>
								<th:block th:each="student : ${allStudents}">
									<tr class="alert" role="alert">
										<td>
											<label class="checkbox-wrap checkbox-primary">
												<input type="checkbox" name="selectedItems" th:value="${student.userName}">
												<span class="checkmark"></span>
											</label>
										</td>
										<td class="d-flex align-items-center">
											<div class="img" style="background-image: url(/images/person_1.jpg);"></div>
											<div class="pl-3 email">
												<span th:text="${student.email}"></span>
												<span>Added: 01/03/2020</span>
											</div>
										</td>
										<td><span th:text="${student.firstName}"></span>&nbsp;<span th:text="${student.lastName}"></span></td>
										<td class="status"><span class="active">Active</span></td>
									</tr>
								</th:block>
								</tbody>
							</table>
					</div>
					&nbsp;
					<div class="row justify-content-center"> <!-- Center the button -->
						<div class="col-md-3">
							<input type="submit" class="btn mb-2 mb-md-0 btn-secondary btn-block btn-round" value="Submit" onclick="if (!(confirm('Are you sure you want to submit Attendance Sheet ?'))) return false">
						</div>
					</div>
				</form>
			</th:block>
					&nbsp;
					<div class="table-wrap">
						<th:block th:if="${isDoneStudent}">
							<div class="row justify-content-center">
								<div class="col-md-6 text-center mb-5">
									<h2 class="heading-section">Attended - Student List</h2>
								</div>
							</div>
							<table class="table table-responsive-xl">
								<thead>
								<tr>
<!--									<th>&nbsp;</th>-->
									<th>Email</th>
									<th>Name</th>
									<th>Status</th>
									<th>Action</th>
								</tr>
								</thead>
								<tbody>
								<th:block th:each="student : ${attendanceDoneStudent}">
									<tr class="alert" role="alert">
<!--										<td>-->
<!--											<label class="checkbox-wrap checkbox-primary">-->
<!--												<input type="hidden" th:name="${student.id}">-->
<!--												<span class="checkmark"></span>-->
<!--											</label>-->
<!--										</td>-->
										<td class="d-flex align-items-center">
											<div class="img" style="background-image: url(/images/person_1.jpg);"></div>
											<div class="pl-3 email">
												<span th:text="${student.email}"></span>
												<span>Added: 01/03/2020</span>
											</div>
										</td>
										<td><span th:text="${student.firstName}"></span>&nbsp;<span th:text="${student.lastName}"></span></td>
										<td class="status"><span class="active">Active</span></td>
										<td><a th:href="@{/dashboard/deleteUser(studentId=${student.id})}"
											   class="btn btn-danger btn-sm"
											   onclick="if (!(confirm('Are you sure you want to remove attendance of this student?'))) return false">
											Delete
										</a></td>
									</tr>
								</th:block>
								</tbody>
							</table>
						</th:block>
					</div>
				</div>
			</div>
	</div>
</section>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/popper.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"></script>

</body>
</html>

