<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${username} +' - Attendance Dashboard'">Attendance Dashboard</title>
    <!-- Include Bootstrap CSS from a CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h3>Attendance Statistics</h3>
    <form action="#" th:action="@{/student/show-statistics}" method="post">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>&nbsp;</th>
                <th>Month</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="student : ${attendanceMonth}">
                <tr>
                    <td><input type="checkbox" name="selectedItems" th:value="${student}"></td>
                    <td><span th:text="${student}"></span></td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <div class="mb-2">
            <input type="submit" class="btn-outline-dark btn-sm " value="Submit">
        </div>
    </form>
    <div class="mb-2">
        <button class="btn btn-outline-primary btn-sm" id="select-all">Select All</button>
        <button class="btn btn-outline-danger btn-sm" id="clear-all">Clear</button>
    </div>
</div>
<div th:if="${isNull}">
    <h3>Please select at least one month!!</h3>
</div>
<th:block if="${ifAny}" th:each="month : ${selectedMonths}">
    <h5 th:text="${month}"></h5>
</th:block>
<!-- Include Bootstrap JS and Popper.js from a CDN -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function() {
        // Select All button click event
        $('#select-all').click(function() {
            $('input[name="selectedItems"]').prop('checked', true);
        });

        // Clear All button click event
        $('#clear-all').click(function() {
            $('input[name="selectedItems"]').prop('checked', false);
        });
    });
</script>
</body>
</html>
